/* .App {
  text-align: center;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-list {
  margin: auto;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 80%;
  padding: 10px;
  outline: none;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
}

button {
  outline: none;
  padding: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.add-btn {
  background-color: rgb(89, 163, 233);
  color: white;
  margin-left: 5px;
  padding: 10px;
}

.delete-btn {
  background-color: rgb(212, 28, 28);
  color: white;
  margin-left: 5px;
}

.all-todos {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  margin: auto;
  margin-top: 20px;
  border: 1px solid rgb(207, 207, 207);
  width: 30%;
  height: 50vh;
  overflow: auto;
  border-radius: 3px;
}

.all-todos .todo-list {
  padding:  10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(224, 224, 224);
  /* align-items: center; */
}

.all-todos .todo-list .name {
  width: 70%;
  word-wrap: break-word;
}
